@using PagedList.Mvc;
@model PagedList.IPagedList<Finix.IPDC.DTO.ApplicationDto>
<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
<script src="~/Scripts/moment.js"></script>
<link href="~/Content/customassets/css/salesLead.css" rel="stylesheet" />
<script src="~/Areas/IPDC/Scripts/Operations/OpDepositApplication.js"></script>
<link href="~/Content/customassets/css/searchCIFinformation.css" rel="stylesheet" />
<link href="~/Content/layout-modifications.css" rel="stylesheet" />
<link href="~/Areas/IPDC/Content/PagedList.css" rel="stylesheet" />
@{
    ViewBag.Title = "Deposit Applications";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
    var jss = new System.Web.Script.Serialization.JavaScriptSerializer();
    var userInfoJson = jss.Serialize(Model);
}
<script>
    var userInfo = JSON.parse('@Html.Raw(userInfoJson)');
</script>

<div id="opDepositApplication">
    <section class="rm">
        <div class="container-fluid ">

            <fieldset>
                <div class="row">
                    <div class="col-sm-8">
                        @using (Ajax.BeginForm("DepositApplications", "Operations", null))
                        {
                            <div class="form-group row row_design">
                                <div class="col-sm-offset-1 col-sm-1">
                                    <label class="control-label">Search</label>
                                </div>
                                <div class="col-sm-3" data-bind="validationElement:test">
                                    <input type="text" name="searchString" class="form-control" id="searchString" placeholder="Application No" value="@(ViewBag.SearchString ?? String.Empty)">
                                </div>
                                <div class="col-sm-2">
                                    <button type="submit" class="btn btn-default">Search</button> @*data-bind="click:Search"*@
                                </div>
                            </div>
                        }
                        <hr class="horizontal">

                        <div class="row">
                            <div class="col-sm-8">
                                <table class="table table-striped table-bordered">
                                    <thead class="headcolor">
                                        <tr>
                                            <th class="center">Application No</th>
                                            <th class="center">Account Title</th>
                                            <th class="center">Customer Type</th>
                                            <th class="center">Product</th>
                                            <th class="center">Maturity Amount/Deposit Amount</th>
                                            <th class="center">Applicaion Date</th>
                                            @*<th class="center">Hard Copy Status</th>
                                            <th class="center">Hard Copy Rec. Date</th>*@
                                            <th colspan="2"></th>

                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach:LoadData">
                                        <tr>
                                            <td style="display:none"><input type="hidden" data-bind="value:Id" /></td>
                                            <td class="center" data-bind="text: ApplicationNo"></td>
                                            <td class="center" data-bind="text: AccountTitle"></td>
                                            <td class="center" data-bind="text: CustomerTypeName"></td>
                                            <td class="center" data-bind="text: ProductName"></td>
                                            <td class="center" data-bind="text: $root.AmountFormatted(MaturityAmount)"></td>
                                            <td class="center" data-bind="text: ApplicationDate ? moment(ApplicationDate).format('DD/MM/YYYY') : ''"></td>
                                            @*<td class="center" data-bind="text: HardCopyReceived"></td>
                                            <td class="center" data-bind="text: HardCopyReceiveDate ? moment(HardCopyReceiveDate).format('DD/MM/YYYY') : ''"></td>*@
                                            <td>
                                                <button type="button" data-bind='click:$parent.SubmitReleseHolding' title="Release Application Holding">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                </button>
                                                
                                                <button type="button" data-bind='click:$parent.Details' title="Confirm Fund">
                                                    Fund Confirm
                                                </button>
                                                @*<button type="button" data-bind='click: $parent.ReceivedFunds' title="Received Funds">
                                                    Fund Received
                                                </button>*@

                                                <button type="button" data-bind='click: $parent.SendMessage' title="Send Message">
                                                    <span class="glyphicon glyphicon-envelope"></span>
                                                </button>
                                                <button data-toggle="modal" data-target="#confirmModal" data-bind='event:{click:$parent.setEntyId}'><span class="glyphicon glyphicon-trash"></span></button>
                                            </td>
                                            
                                                @*<button type="button" data-toggle="modal" data-target="#HardCopyReceivedModal" data-bind='click:$parent.setEntyId' title="Receive Hard Copy">
                                                    Hard Copy Received
                                                </button>*@
                                            
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="pagination-centered">
                                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                                    @Html.PagedListPager(Model, page => Url.Action("DepositApplications",
                                    new { page, sortOrder = ViewBag.CurrentSort, searchString = ViewBag.SearchString }))
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </section>
    <div class="form-group">
        <div id="HardCopyReceivedModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-md">
                <!-- Modal content-->
                <div class="modal-content modalWidth">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Receive Hard Copy</h4>
                    </div>
                    <div class="modal-body" align="center">
                        <div class="form-group row row_design">
                            <div class="col-sm-5">
                                <label class="control-label">Hard Copy Received</label>
                            </div>

                            <div class="col-sm-6">
                                <input data-bind="checked:HardCopyReceived" type="checkbox" />

                            </div>
                            <div class="col-sm-5">
                                <label class="control-label">Received Date</label>
                            </div>

                            <div class="col-sm-6 input-group input-group_cif date">
                                <input id="ReceivedDateTxt" type="datetime" data-bind="value:HardCopyReceiveDate" class="form-control" />
                                <span class="help-block" style="display: none;"></span>
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </div>
                            </div>
                            <div class="col-sm-1">

                            </div>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class="col-sm-12">
                            <div class="form-group row row_design">
                                <div>
                                    <button type="button" data-bind='click:SubmitHardCopy' class="btnLarge btn-q btn-default" data-dismiss="modal">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div id="submitModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-md">
                <!-- Modal content-->
                <div class="modal-content modalWidth">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Response</h4>
                    </div>
                    <div class="modal-body" align="center">
                        <div class="form-group row row_design">
                            <div class="col-sm-5">
                                <label class="control-label">Comment</label>
                            </div>
                            <div class="col-sm-6">
                                <textarea type="text" data-bind="value: Comment" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-sm-12">
                            <div class="form-group row row_design">
                                <div>
                                    <button type="button" data-bind='' class="btnLarge btn-q btn-default" data-dismiss="modal">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="successModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Response</h4>
                    </div>
                    <div class="modal-body" align="center">
                        <p id="successModalText"></p>
                        <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

        <div id="confirmModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Response</h4>
                    </div>
                    <div class="modal-body" align="center">
                        <p> Are You sure, to cancel this Application...</p>
                        <button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#RejectionModal">Yes</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal">No</button>

                    </div>
                    <div class="modal-footer">
                    </div>
                </div>

            </div>
        </div>

        <div id="RejectionModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-md">
                <!-- Modal content-->
                <div class="modal-content modalWidth">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Response</h4>
                    </div>
                    <div class="modal-body" align="center">
                        <div class="form-group row row_design">
                            <div class="col-sm-4">
                                <label class="control-label">Rejection Reason</label>
                            </div>
                            <div class="col-sm-6">
                                <textarea type="text" data-bind="value: RejectionReason" class="form-control"></textarea>
                            </div>
                        </div>
                        @*<br />*@


                    </div>
                    <div class="modal-footer">
                        <div class="col-sm-12">
                            <div class="form-group row row_design">
                                <div>
                                    <button type="button" data-bind="click:CancelApplication" class="btn-q btn-danger" data-dismiss="modal">Reject</button>
                                    <button type="button" class="btn-q btn-default" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
