@using PagedList.Mvc;
@model PagedList.IPagedList<Finix.IPDC.DTO.DocumentCheckListDto>

<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
<script src="~/Scripts/moment.js"></script>
<link href="~/Content/customassets/css/salesLead.css" rel="stylesheet" />
<script src="~/Areas/IPDC/Scripts/Operations/DocumentExceptionList.js"></script>
<link href="~/Content/customassets/css/searchCIFinformation.css" rel="stylesheet" />
<link href="~/Content/layout-modifications.css" rel="stylesheet" />
<link href="~/Areas/IPDC/Content/PagedList.css" rel="stylesheet" />
@{
    ViewBag.Title = "Document Check List";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
    var jss = new System.Web.Script.Serialization.JavaScriptSerializer();
    var userInfoJson = jss.Serialize(Model);
}
<script>
    var userInfo = JSON.parse('@Html.Raw(userInfoJson)');
</script>

<div id="DocumentCheckVW">
    <section class="rm">
        <div class="container-fluid ">

            <fieldset>
                <div class="row">
                    <div class="col-sm-8">
                        @using (Ajax.BeginForm("DocumentExceptionList", "Operations", null))
                        {
                            <div class="form-group row row_design">
                                <div class="col-sm-offset-1 col-sm-1">
                                    <label class="control-label">Search</label>
                                </div>
                                <div class="col-sm-3" data-bind="validationElement:test">
                                    <input type="text" name="searchString" class="form-control" id="searchString" placeholder="DCL No" value="@(ViewBag.SearchString ?? String.Empty)">
                                </div>
                                <div class="col-sm-2">
                                    <button type="submit" class="btn btn-default">Search</button> @*data-bind="click:Search"*@
                                </div>
                            </div>
                        }
                        <hr class="horizontal">

                        <div class="row">
                            <div class="col-sm-8">
                                <table class="table table-striped table-bordered">
                                    <thead class="headcolor">
                                        <tr>
                                            <th class="center">Application No</th>
                                            <th class="center">DCL No</th>
                                            <th class="center">DCL Date</th>
                                            <th class="center">Exception Count</th>
                                            <th colspan="2">Print</th>
                                            @*<th colspan="2"></th>
                                                <th colspan="2"></th>
                                                <th colspan="2"></th>*@
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach:LoadData">
                                        <tr>
                                            <td style="display: none"><input type="hidden" data-bind="value:Id" /></td>
                                            <td class="center" data-bind="text: ApplicationNo"></td>
                                            <td class="center" data-bind="text: DCLNo"></td>
                                            <td class="center" data-bind="text: moment(DCLDate).format('DD/MMM/YYYY')"></td>
                                            <td class="center" data-bind="text: ExceptionCount"></td>
                                            <td>
                                                <div data-bind="">

                                                    <button type="button" class="btn-i btn-info" aria-label="justify" data-toggle="modal" data-bind="click:$parent.Search" data-target="#myModal">
                                                        <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>

                                                    </button>
                                                </div>
                                            </td>
                                            <td>
                                                <div data-bind="">
                                                    @*<a target="_blank" data-bind="attr: { href: $parent.Link1, title1: 'PDF' },click:$parent.setEntyId">*@

                                                    <button type="button" target="_blank" data-bind="click:$parent.setEntyId">
                                                        PDF
                                                        <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                                                        @*</a>*@
                                                    </button>
                                                </div>
                                            </td>
                                            <td>
                                                <button type="button" data-bind='click: $parent.SendMessage' title="Send Message">
                                                    <span class="glyphicon glyphicon-envelope"></span>
                                                </button>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                                <div class="pagination-centered">
                                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                                    @Html.PagedListPager(Model, page => Url.Action("DocumentExceptionList",
                                        new { page, sortOrder = ViewBag.CurrentSort, searchString = ViewBag.SearchString }))
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-lg">

                        <!-- Modal content-->
                        <div class="modal-content" style="margin-left: 0px; margin-right: 115px;">
                            <div class="modal-header">
                                <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                                <h4 class="modal-title">Preview</h4>
                            </div>
                            <div class="modal-body" align="center">
                                <div class="ui-jqdialog-content ui-widget-content" id="leadDetailData">
                                    <div data-bind="visible:IsVisible">
                                        <div class="panel-bodycontent">
                                            <header class="panel-heading bodytitle pointer" data-toggle="collapse" data-target="#excpt">
                                                <h2 class="panel-title font">
                                                    <b>Exceptions</b>
                                                </h2>
                                            </header>
                                            <div class="panel-body collapse in" id="excpt">
                                                <div class="form-group row row_design_detail">
                                                    <div class="col-sm-12">
                                                        <table class="table table-striped table-bordered">
                                                            <thead class="headcolor">
                                                                <tr>
                                                                    <td>Description</td>
                                                                    <td>Justification</td>
                                                                </tr>
                                                            </thead>
                                                            <tbody data-bind="foreach:Exceptions">
                                                                <tr>
                                                                    <td class="col-sm-4">
                                                                        <span class="form-control" data-bind="text:Description "></span>
                                                                    </td>
                                                                    <td class="col-sm-4">
                                                                        <span class="form-control" data-bind="text: Justification"></span>
                                                                    </td>
                                                                </tr>
                                                            </tbody>

                                                        </table>

                                                        @*<div class="form-group row row_design_detail">
                                                                <div class="col-sm-2 col-sm-offset-8">
                                                                    <label class="control-label">Is Approved :</label>
                                                                </div>
                                                                <div class="col-sm-2">
                                                                    <input type="checkbox" data-bind="checked: IsApproved">
                                                                </div>
                                                            </div>*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel-bodycontent">
                                            <header class="panel-heading bodytitle pointer" data-toggle="collapse" data-target="#dcmt">
                                                <h2 class="panel-title font">
                                                    <b>Documents</b>
                                                </h2>
                                            </header>
                                            <div class="panel-body collapse in" id="dcmt">
                                                <div class="form-group row row_design_detail">
                                                    <div class="col-sm-12">
                                                        <table class="table table-striped table-bordered">
                                                            <thead class="headcolor">
                                                                <tr>
                                                                    <th class="col-sm-3">Document</th>
                                                                    <th class="col-sm-1">Status</th>
                                                                    <th class="col-sm-1">Collection Date</th>
                                                                    <th class="col-sm-3">Remarks</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody data-bind="foreach:Documents">
                                                                <tr>

                                                                    <td>
                                                                        <span data-bind="text: Name" class="form-control"></span>
                                                                    </td>
                                                                    <td>
                                                                        <span data-bind="text: DocumentStatusName" class="form-control"></span>
                                                                    </td>
                                                                    <td>
                                                                        <span type="date" data-bind="date:CollectionDate, valueUpdate:'keyup' " class="form-control lignHeightDate"></span>
                                                                    </td>
                                                                    <td>
                                                                        <span class="form-control" data-bind="text: Remarks"></span>
                                                                    </td>

                                                                </tr>
                                                            </tbody>

                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="form-group row row_design_detail">
                                            <div class="col-sm-6 col-sm-offset-6">
                                                <div class="btn-group">
                                                    <button type="button" data-bind="click:SubmitAsApproved" data-toggle="modal" data-target="#successModal" class="btnLarge btn-q btn-default" title="Save as Approved">Approved</button>
                                                </div>
                                                <div class="btn-group">
                                                    <button type="button" data-bind="click:SubmitAsNotApproved"  data-toggle="modal" data-target="#successModal" class="btnLarge btn-q btn-default" title="Save as Not Approved">Not Approved</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </section>
    <div class="form-group">
        <div id="docSuccessModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Response</h4>
                    </div>
                    <div class="modal-body" align="center">
                        <p id="docSuccessModalText"></p>
                        <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
