@using PagedList.Mvc;
@model PagedList.IPagedList<Finix.IPDC.DTO.CallDto>

<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
<script src="~/Scripts/moment.js"></script>
@*<script src="~/Scripts/knockout-date-bindings.js"></script>*@
<link href="~/Content/customassets/css/salesLead.css" rel="stylesheet" />
<script src="~/Areas/IPDC/Scripts/Call/searchCall.js"></script>
<!--<link href="~/Content/customassets/css/officeDesignationArea.css" rel="stylesheet" />-->
<link href="~/Content/customassets/css/searchCIFinformation.css" rel="stylesheet" />
<link href="~/Content/layout-modifications.css" rel="stylesheet" />
<link href="~/Areas/IPDC/Content/PagedList.css" rel="stylesheet" />

@*<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />*@
@{
    ViewBag.Title = "Search Call";
    Layout = "~/Views/Shared/_LayoutjqGrid.cshtml";
    var jss = new System.Web.Script.Serialization.JavaScriptSerializer();
    var callInfo = jss.Serialize(Model);
}
<script>
    var callInfo = JSON.parse('@Html.Raw(callInfo)');
</script>

<style>
    .modalWidth {
        width: 500px;
    }

    .btnLarge {
        width: 140px !important;
    }
</style>

<div id="SearchCallVm">
    <section class="rm">
        <div class="container-fluid ">
            @using (Ajax.BeginForm("SearchCallInformation", "Call", null))
            {
                @*<form class="form-horizontal" role="form" id="employee-info">*@
                <fieldset>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group row row_design">
                                <div class="col-sm-offset-1 col-sm-1">
                                    <label for="test" class="control-label">Search</label>
                                </div>
                                <div class="col-sm-6" data-bind="validationElement:test">
                                    <input type="text" id="searchString" name="searchString" class="form-control" value="@ViewBag.CurrentFilter" placeholder="Call Id/Customer Name/Customer Phone">
                                </div>
                                <div class="col-sm-2">
                                    <button type="submit" class="btn btn-default">Search</button> @*data-bind="click:Search"*@
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-sm-8">
                                    <table class="table table-striped table-bordered" frame="box">
                                        <thead class="headcolor">
                                            <tr>
                                                <th></th>
                                                <th class="center">Call No.</th>
                                                <th class="center">Customer Name</th>
                                                <th class="center">Customer Phone</th>
                                                <th class="center">Individual/Org.</th>
                                                <th class="center">Category</th>
                                                <th class="center">Priority</th>
                                                <th class="center">Call Status</th>
                                                <th class="center">Call Creator</th>
                                                <th class="center">Create Date</th>
                                                <th class="center">Actions</th>
                                                <th class="center">Details</th>
                                            </tr>
                                        </thead>
                                        <tbody data-bind="foreach:LoadData">
                                            <tr>
                                                <td><input type="hidden" data-bind="value:Id" /></td>
                                                <td class="center" data-bind="text: CallId"></td>
                                                <td class="center" data-bind="text: CustomerName"></td>
                                                <td class="center" data-bind="text: CustomerPhone"></td>
                                                <td class="center"><span data-bind="visible:IsOrganization">Organization</span><span data-bind="visible:!IsOrganization">Individual</span></td>
                                                <td class="center" data-bind="text: CallCategoryName"></td>
                                                <td class="center" data-bind="text: CustomerPriorityName"></td>
                                                <td class="center" data-bind="text: CallStatusName"></td>
                                                <td class="center" data-bind="text: CallCreatorName"></td>
                                                <td class="center" data-bind="text: moment(CreateDate).format('DD/MM/YYYY hh:mm A')"></td>
                                                <td>
                                                    <button type="button" data-toggle="modal" data-target="#unsuccessModal" data-bind="click:$parent.setCall_EntyId" title="Save as Unsuccessful"><span class="glyphicon glyphicon-remove"></span></button>
                                                    
                                                    @*<button type="button" data-toggle="modal" data-target="#successFulModal" data-bind='enable:(CallStatus != 2), event:{click:$parent.setCall_EntyId}' title="Save as Successful">
                                                        <span class="glyphicon glyphicon-ok"></span>
                                                    </button>*@
                                                </td>
                                                <td><a href='#' data-bind='click: $parent.Details'>Details</a></td>

                                            </tr>
                                        </tbody>
                                    </table>
                                    <br />
                                    <div class="pagination-centered">
                                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                                        @Html.PagedListPager(Model, page => Url.Action("SearchCallInformation",
                                    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </fieldset>
                @*</form>*@
            }
        </div>
    </section>
    <div class="form-group">
        <div id="successModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Response</h4>
                    </div>
                    <div class="modal-body" align="center">
                        <p id="successModalText"></p>

                        <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>

                    </div>
                    <div class="modal-footer">
                    </div>
                </div>

            </div>
        </div>
        <div id="unsuccessModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-md">
                <!-- Modal content-->
                <div class="modal-content modalWidth">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Response</h4>
                    </div>
                    <div class="modal-body" align="center">
                        <div class="form-group row row_design">

                            <div class="col-sm-5">
                                <label class="control-label">Call Faild Reason</label>
                            </div>
                            <div class="col-sm-6">
                                <select id="LegalStatus" data-bind="options:CallFailReasonList, value: CallFailReason, optionsValue: 'Id', optionsText:'Name',optionsCaption:'--Select--'" class="form-control"></select>
                            </div>
                            <div class="col-sm-1">

                            </div>

                        </div>
                        
                        <div class="form-group row row_design">

                            <div class="col-sm-5">
                                <label class="control-label">Remarks</label>
                            </div>
                            <div class="col-sm-6">
                                <textarea type="text" data-bind="value: Remarks" class="form-control"></textarea>
                            </div>
                            <div class="col-sm-1">

                            </div>

                        </div>
                        @*<br />*@


                    </div>
                    <div class="modal-footer">
                        <div class="col-sm-12">
                            <div class="form-group row row_design">
                                <div>
                                    <button type="button" data-bind='click:SubmitUnSuccessful' class="btnLarge btn-q btn-default" data-dismiss="modal">Save Reason</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="successFulModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-md">
                <!-- Modal content-->
                <div class="modal-content modalWidth">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Response</h4>
                    </div>
                    <div class="modal-body" align="center">
                        <div class="form-group row row_design">

                            <div class="col-sm-5">
                                <label class="control-label">FollowUp CallTime</label>
                            </div>

                            <div class="col-sm-6">
                                <input data-bind="value:FollowUpCallTimeText" id="FollowUpCallTimeText" class="form-control" type="datetime" />

                            </div>
                            <div class="col-sm-1">

                            </div>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class="col-sm-12">
                            <div class="form-group row row_design">
                                <div>
                                    <button type="button" data-bind='click:SubmitSuccessful' class="btnLarge btn-q btn-default" data-dismiss="modal">Save & Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


